*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --border-color: #e6e6e6;
    --stars-rating-color: #e99618;
}

body {
    background-color: var(--bg_body);
}

button,
a,
i {
    cursor: pointer;
}

header>h1 {
    font-weight: 700 !important
}

.article-details {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: var(--body-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content-wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        order: 1;

        .heading-content {
            h3 {
                color: var(--brand-secondary);
                font-weight: 400;
                font-size: 1em;
            }

            h2 {
                font-size: 1.3em;
            }
        }

        p,
        h2 {
            color: var(--bg_body);
        }

        p {
            width: 100%;
            margin-top: 1%;
            flex-grow: 1;
            font-size: clamp(0.8rem, 3vw, 1.125rem);
        }

    }

    .topic-card {
        align-self: center;
        width: 80%;
        order: 3;

        >div {
            border: 1px solid var(--lines-color);
            padding: 1px;
            background-color: var(--bg_default);
            display: flex;
            flex-direction: column;
            height: fit-content;

            .topic-image {
                width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .topic-info {
                padding: 1rem;

                p {
                    font-size: .9em;
                    height: 10%;
                    margin-bottom: 1rem;

                    span {
                        font-weight: 700;
                    }

                    a {
                        color: var(--brand-primary);
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }

            }

            .add-to-favorite-container {
                border: 1px solid var(--border-color);
                width: 100%;
                padding: 0.6rem .8rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    font-size: .7em;
                    font-weight: 500;
                }

                button {
                    background-color: var(--brand-secondary);
                    border: none;
                    outline: none;
                    height: fit-content;
                    font-weight: 300;
                    font-size: .8em;
                    padding: .6rem;
                    margin-top: .4rem;
                    color: var(--bg_default);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >ion-icon {
                        margin-left: 4.8px;
                        font-size: 1.4em;
                    }
                }

                h5 {
                    color: var(--body-text);
                    font-size: .6em;
                    font-weight: 300;
                    text-align: center;
                    margin-top: .3rem;
                }
            }
        }


    }
}

.subject-topics {
    width: 100%;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    border: 1pz solid var(--lines-color);
    border-radius: .6rem;
    background-color: var(--bg_default);
    order: 2;

    >*,
    .topics-wrapper>* {
        background-color: var(--bg_default);
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--lines-color);

    }

    .topics-wrapper {
        display: flex;
        flex-direction: column;

        .topic {
            padding: 1rem 2rem;

            ion-icon {
                font-size: 1.4em;
                color: var(--brand-secondary);
                margin-right: 1rem;
            }

            h2 {
                font-size: clamp(0.8rem, 3vw, 1.125rem);
                font-weight: 500;
            }

        }
    }

    >h2 {
        padding: 1rem 2rem;
    }

}

@media screen and (min-width: 600px) {
    .article-details {
        padding: 1rem;

        .content-wrapper {
            width: 50%;
        }

        .topic-card {
            width: 20rem;
        }
    }
}

@media screen and (min-width: 600px) {
    .article-details {
        width: 100%;
        height: 20rem;
        background-color: var(--body-text);
        position: relative;
        padding: 2rem;
        justify-content: flex-end;

        .wrapper-left-flow {
            position: absolute;
            top: 2rem;
            width: 40%;
            left: 4rem;

            .content-wrapper {
                width: 100%;
                margin-bottom: 16%;

                p{
                    -webkit-line-clamp: 5;
                }
            }
        }

        .topic-card {
            margin-top: 2rem;
            width: 20rem;
            position: absolute;
            border: 1px solid aqua;
            right: 4rem;
            top: 1rem;
            justify-self: flex-end;
            
            >div {
                width: 100%;
            }
        }
    }


}