*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --border-color: #e6e6e6;
    --stars-rating-color: #e99618;
}

body {
    background-color: var(--bg_body);
}

button,
a,
i {
    cursor: pointer;
}

header>h1 {
    font-weight: 700 !important
}

.border-bottom {
    border-top: 1px solid var(--lines-color);
}

.style {
    max-width: 75%;
    margin-inline: auto;
    height: 100%;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-details {
    width: 100%;
    background-color: #333333;
    
    >div {
        padding: 1rem;
        width: 100%;
    }

    .content-wrapper {
        .heading-content {
            h3 {
                color: var(--brand-secondary);
                font-weight: 400;
                font-size: 1em;
            }

            h2 {
                font-size: 1.3em;
                color: white;
            }
        }

        p,
        h2 {
            color: white;
        }

        p {
            width: 100%;
            margin-top: 1%;
            flex-grow: 1;
            font-size: clamp(0.8rem, 3vw, 1.125rem);
        }

    }

    .topic-card {
        width: 80%;
        margin-inline: auto;
        margin-top: 1rem;

        >div {
            border: 1px solid var(--lines-color);
            padding: 1px;
            background-color: white;
            display: flex;
            flex-direction: column;

            .topic-image {
                width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .topic-info {
                padding: 1rem;

                p {
                    font-size: .9em;
                    height: 10%;
                    margin-bottom: 1rem;

                    span {
                        font-weight: 700;
                    }

                    a {
                        color: var(--brand-primary);
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }

            }

            .add-to-favorite-container {
                border: 1px solid var(--border-color);
                width: 100%;
                padding: 0.6rem .8rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    font-size: .7em;
                    font-weight: 500;
                }

                button {
                    background-color: var(--brand-secondary);
                    border: none;
                    outline: none;
                    font-weight: 300;
                    font-size: .8em;
                    padding: .6rem;
                    margin-top: .4rem;
                    color: var(--bg_default);
                    margin-inline: auto;

                    >ion-icon {
                        margin-left: 4.8px;
                        font-size: 1.4em;
                        vertical-align: text-bottom;
                    }
                }

                h5 {
                    color: #747272;
                    font-size: .6em;
                    font-weight: 400;
                    text-align: center;
                    margin-top: .3rem;
                }
            }
        }
    }
}

section.topics-container {
    padding: 1rem;
    background-color: var(--bg_body);
}

.subject-topics {
    width: 100%;
    margin-inline: auto;
    border: 1px solid var(--lines-color);
    border-radius: .6rem;
    background-color: var(--bg_default);
    color: var(--body-text);

    >div {
        border-radius: .6rem;
    }

    >*,
    .topics-wrapper>* {
        display: flex;
        flex-direction: row;
    }

    .topics-wrapper {
        display: flex;
        flex-direction: column;

        .topic {
            padding: 1rem 2rem;

            ion-icon {
                font-size: 1.4rem;
                color: var(--brand-secondary);
                flex-shrink: 0;
                margin-right: 1rem;
            }

            h2 {
                font-size: clamp(0.8rem, 3vw, 1.125rem);
                font-weight: 500;
                color: var(--body-text);
            }

        }
    }

    >h2 {
        padding: 1rem 2rem;
    }

}


@media screen and (min-width: 750px) {

    .article-details,
    .topics-container {

        >div {
            max-width: 75%;
            display: flex;
            margin-inline: auto;
            flex-direction: row;
        }
    }

    .article-details {
        .content-wrapper {
            p {
                -webkit-line-clamp: 5;
            }
        }
    }

    .content-wrapper,
    .subject-topics {
        max-width: 75%;
        margin-top: 1rem;
    }

    .subject-topics {
        div {
            display: flex;
        }
    }

    .topic-card {
        margin-top: 2rem;
        width: 20rem !important;
        position: relative;

        >div {
            position: absolute;
            left: 1rem;
            width: 100%;
        }
    }

    section.topics-container {
        padding: 1rem;

        >div {
            display: flex;
        }
    }
}